<div class="col-sm-4">
    <uib-dropdown class="dropdown-container">
        <uib-dropdown-toggle id="single-button" type="button" class="dropdown-button" ng-class="{'grey': !vm.simpleSelectedState}">
            {{vm.simpleSelectedState || 'State'}} <span class="caret"></span>
        </uib-dropdown-toggle>
        <uib-dropdown-menu class="dropdown-menu"  role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="(key, item) in vm.data"><a ng-click="vm.change(item)" href="#">{{item}}</a></li>
        </uib-dropdown-menu>
    </uib-dropdown>

</div>

<div class="col-sm-4">

    <ui-select id="multiple-button" ng-model="vm.selectedState" multiple theme="selectize">
       <ui-select-match placeholder="State">{{$item.value}}</ui-select-match>
       <ui-select-choices repeat="(key, item) in vm.data | filter: $select.search">
         <div ng-bind-html="item.value | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>

</div>
